html, body {
	height: 100%;
}

body {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
}
#viewport, body {
    margin: 0;
    padding: 0;
}

 /* Menu */

#viewport > header{
    /* Menu */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    min-height: 125px;
    display: flex;
    border-bottom: 1px solid rgba(53, 19, 19, 0.1);
    background: #021526
}
 /* Menu logo*/
div.logo {
    display: inline-block;
    padding-top: 32px;
    padding-left: 32px;
}

 /* Menu navigator panel */
nav {
    text-align: right;
    padding-right: 80px;
    width: 100%;

}

/* Menu  links */
nav > ul {

    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

 /* Menu  links */
nav > ul > li {
    display: inline-block;
    padding-right: 52px;
    padding-top: 52px;
}

/* Sections */

section { /* I need proive id */
    width: 100%;
    min-height: 600px;
    border-bottom: 2px solid rgb(123, 128, 170);
  }

article > h2, article > p, nav li {
    text-align: center;
    color: aliceblue;
}
nav li { /* delete css in future*/
    font-size: 26px;
    font-weight: bold;
}
h2 {
    font-size: 35px;
    margin-top: 0px;
}
h3 {
    margin-top: 0px;
}

footer {
	background-color: #9aadbf;
	min-height: 400px;
	width: 100%;
}